{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-object-rest-spread",
    [
      "babel-plugin-root-import", {
        "rootPathSuffix": "src"
      }
    ],
    [
      "transform-imports", {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
