{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    [
      "babel-plugin-root-import", {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    ]
  ]
}
