{
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    }
  },
  "rules": {
    // Plugins
    "import/prefer-default-export": "off",

    "flowtype-errors/show-errors": "error",
    "flowtype-errors/show-warnings": "warn",

    // Possible Errors

    // Best Practices
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],

    // Variables

    // no-restricted-globals

    // Node.js and CommonJS

    // Stylistic Issues
    "max-len": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }]

    // JS.Next
  }
}
