version: '3'

services:

  api:
    image: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - yarn:/home/node/.cache/yarn
    tty: true

volumes:
  yarn:
