doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title ExpressMongoose Starter Kit
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./styles/vendor.css')
  body
    block content
    script(src='./scripts/vendor.js' defer)
    script(src='./scripts/main.js' defer)
