doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Expressed Boilerplate
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
  body
    block content
    script(src='https://code.getmdl.io/1.2.1/material.min.js' defer)
    // script(src='static.js' defer)
