doctype html
html
  head
    title Express5TS Quick Start
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.0/material.indigo-pink.min.css')
    link(rel='stylesheet' href='./styles/main.css')
  body
    block content
    script(src='https://code.getmdl.io/1.2.0/material.min.js' defer)
    script(src='./scripts/main.js' defer)
